<button class="btn" (click)="myAnimate()">Анимация</button>
<button class="btn" (click)="boxState = 'special'">Специальное состояние</button>
<button class="btn" (click)="visible = !visible">Видимо-не-Видимо</button>
<div class="wrap">
    <div class="box"
         *ngIf="visible"
         [@box]="boxState"
         (@box.start)="animationStarted($event)"
         (@box.done)="animationDone($event)"
    >
        <h4>{{boxState | uppercase}}</h4>
    </div>
</div>