<ng-template appRef></ng-template>
<nav class="navbar">
    <h1>Angular Modules</h1>

    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
    </ul>
</nav>


<app-animation></app-animation>


<div class="container">
    <div class="card">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="container">
    <div class="card">
        <h1>Что-то тут есть</h1>
        <button class="btn" (click)="showModal()">Show MODAL</button>


<!--        <button class="btn" (click)="modal = true">Show MODAL</button>-->
<!--        статика-->
<!--        <app-modal-->
<!--                *ngIf="modal"-->
<!--                title="Modal Window"-->
<!--                (close)="modal = false">-->
<!--        </app-modal>-->

<!--        динамика-->


    </div>
</div>